<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


	<!-- 激活基于注解的配置 @RequestMapping, @ExceptionHandler,数据绑定 ,@NumberFormat ,
		@DateTimeFormat ,@Controller ,@Valid ,@RequestBody ,@ResponseBody等 -->
	<mvc:annotation-driven validator="validator" conversion-service="cconversion-service"/>

	<!--=============================-校验器===========================================-->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
		<!--不设置则默认为classpath下的 ValidationMessages.properties -->
		<property name="validationMessageSource" ref="validatemessageSource"/>
	</bean>

	<bean id="cconversion-service" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/>

	<bean id="validatemessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:ValidationMessages</value>
			</list>
		</property>
		<!--<property name="fileEncodings" value="utf-8"/>-->
		<property name="defaultEncoding" value="utf-8"/>
		<property name="cacheSeconds" value="120"/>
	</bean>
	<!--=============================-校验器==END======================================-->

	<!--=================解决spring与pringmvc注解冲突===================================-->
	<context:component-scan base-package="com.njmsita.exam.*.controller">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
		<!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />-->
	</context:component-scan>
	<!--===============解决spring与pringmvc注解冲突====END===============================-->


	<!--====================================视图解析器================================== -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--配置JSTL表达式 -->
		<!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	<!--=================================视图解析器====END============================== -->


	<!--======================================文件上传================================== -->
	<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为5MB -->
		<property name="maxUploadSize">
			<value>5242880</value>
		</property>
	</bean>
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000"/>
	</bean>
	<!--===================================文件上传=====END============================= -->



	<!--=================================统一异常处理器================================== -->
	<bean class="com.njmsita.exam.utils.exception.UnifyExceptionResoler"/>

	<!--==============================统一异常处理器====END============================== -->

	<!-- 配置静态资源 -->
	<mvc:resources location="dist" mapping="dist/**" />
	<mvc:resources location="js" mapping="js/**" />
	<mvc:resources location="data" mapping="data/**" />
	<mvc:resources location="less" mapping="less/**" />
	<mvc:resources location="vendor" mapping="vendor/**" />
	<mvc:resources location="templates" mapping="templates/**" />


</beans>  