<!DOCTYPE html>
<html lang="en">

<head>
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- @@include /components/header.html -->
    <script type="text/javascript">
        $(function () {
            $("#commit").click(function () {
                $("form:first").submit();
            })
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="row login-title">
            机锋在线考试系统
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">教师登录</h3>
                    </div>
                    <div class="panel-body">
                        <<form role="form" action="${pageContext.request.contextPath}/tea/login" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="账号" name="teacherId" type="email" value="0001" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="密码" name="password" type="password" value="123">
                            </div>
                            <div class="checkbox text-right">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">记住我
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a href="javascript:void(0)" id="commit" class="btn btn-lg btn-success btn-block">登录</a>
                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- @@include /components/footer.html -->


</body>

</html>
