<!-- @@master = /components/master.html {"title":"学生管理"} -->
<!-- @@block  =  content-->

<script>
    $(document).ready(
        function () {

            $(".js-view").on("click", function () {
                window.location.href = "/dist/pages/manage/student/detail.html"
            })
            $(".js-edit").on("click", function () {
                window.location.href = "/dist/pages/manage/student/edit.html"
            })
        }
    )
</script>

<div class="row">
    <div class="col-lg-12">
        <h3>
            学校管理
        </h3>
        <div class="table-btns">
            <a class="btn btn-primary" href="add.html"> 添加学校</a>
        </div>
        <script src="/vendor/bootstrap-table/bootstrap-table.js"></script>
        <script>


            $(document).ready(
                function () {
                    queryParams1 = function (params) {
                        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                            pageNum: params.offset / params.limit,   //页面大小
                            pageSize: params.limit
                        };
                        return temp;
                    }
                    var $table;

                    $table = $("#table");
                    $table.bootstrapTable(
                        {
                            queryParams: queryParams1,
                            url: 'http://localhost:8080/manage/school/list',
                            method: 'get',
                            cache: false,
                            pagination: true,
                            sidePagination: "server",
                            pageNumber: 1,
                            pageSize: 10,                       //每页的记录行数（*）
                            pageList: [10, 25, 50, 100],
                            columns: [
                                {
                                    field: 'id',
                                    title: '序号',
                                    visible: false,
                                    cardVisible: false
                                },
                                {
                                    field: 'name',
                                    title: '学校名称',
                                    cardVisible: false

                                }, {
                                    field: 'action',
                                    title: '操作',
                                    cardVisible: false,
                                    //   events: operateEvents,
                                    formatter: function (value, row, index) {
                                        var html = '';

                                        html += '<i class="fa fa-search del js-view cursor" title="预览"></i>';
                                        html += '<i class="fa fa-pencil edit js-edit cursor " title="修改"></i>';
                                        html += '<i class="fa fa-trash del js-del cursor" title="删除"></i>';

                                        return html;
                                    }
                                }
                            ]
                        }
                    );
                    // var initPagination = function () {
                    //     // 创建分页
                    //     $("#Pagination").pagination(dataLength, {
                    //         num_edge_entries: 1, //边缘页数
                    //         num_display_entries: 6, //主体页数
                    //         callback: List_PageSelectCallBack,
                    //         items_per_page: displayCount //每页显示1项
                    //     });
                    //
                    // }();

                }
            )
            ;
        </script>

        <table id="table">

        </table>


    </div>

</div>
<!-- @@close-->
<!-- @@close-->