<!-- @@master = /components/master.html {"title":"学生管理"} -->
<!-- @@block  =  content-->

<script>
    $(document).ready(
        function () {

            $(".js-view").on("click", function () {
                window.location.href = "/dist/pages/manage/student/detail.html"
            })
            $(".js-edit").on("click", function () {
                window.location.href = "/dist/pages/manage/student/edit.html"
            })
        }
    )
</script>

<div class="row">
    <div class="col-lg-12">
        <h3>
            学校管理
        </h3>
        <div class="table-btns">
            <a class="btn btn-primary"  href="add.html"> 添加学校</a>
        </div>
        <script src="/vendor/bootstrap-table/bootstrap-table.js"></script>
        <script src="/webapp/vendor/bootstrap-table/bootstrap-table.js"></script>

        <script>
            var $table;
            $(document).ready(
                function () {
                    $table = $("#table");
                    $table.bootstrapTable(
                        {
                            columns: [
                                {
                                    field: 'id',
                                    title: '序号',
                                    visible: false,
                                    cardVisible: false
                                },
                                {
                                    field: 'name',
                                    title: '学校名称',
                                    cardVisible: false

                                }, {
                                    field: 'action',
                                    title: '操作',
                                    cardVisible: false,
                                 //   events: operateEvents,
                                    formatter: function (value, row, index) {
                                        var html = '';
                                        if (row.viewAble == true)
                                        {
                                            html += '<i class="fa fa-search del js-view  pr10 cursor" title="预览"></i>'
                                        }
                                        if (row.editAble == true)
                                        {
                                            html += '<i class="fa fa-pencil edit js-edit pr10 cursor " title="修改"></i>';
                                        }
                                        if (row.replyAble == true)
                                        {
                                            html += '<i class="fa fa-check del js-reply  pr10 cursor" title="审核"></i>';
                                        }
                                        if (row.summaryAble == true)
                                        {
                                            html += '<i class="fa fa-comment del js-summary  pr10 cursor" title="总结"></i>';
                                        }
                                        if (row.deleteAble == true)
                                        {
                                            html += '<i class="fa fa-trash del js-del  pr10 cursor" title="删除"></i>';
                                        }
                                        return html;
                                    }
                                }
                            ]
                        }
                    );
                    // var initPagination = function () {
                    //     // 创建分页
                    //     $("#Pagination").pagination(dataLength, {
                    //         num_edge_entries: 1, //边缘页数
                    //         num_display_entries: 6, //主体页数
                    //         callback: List_PageSelectCallBack,
                    //         items_per_page: displayCount //每页显示1项
                    //     });
                    //
                    // }();

                }
            );
        </script>

        <table id="table">

        </table>


    </div>

</div>
<!-- @@close-->
<!-- @@close-->